/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
}

input {
    font-size: 1em;
    padding: .5rem;
}

.back {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: rgb(255, 0, 0);
    color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    width: 10%;
}

.save {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: rgb(5, 138, 38);
    color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    width: 10%;
}

button:hover {
    background-color: #cfd8dc;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}
